@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

@layer base {
  body {
    @apply font-sans antialiased bg-white text-stone-900;
  }
}
